# {{name}}
Эльфы начинают устанавливать лагерь на пляже. Чтобы решить, чей палаточный будет ближе к хранилищу закусок, уже ведется огромный турнир {{name}}.

{{name}} - это игра между двумя игроками. Каждая игра содержит много раундов; в каждом раунде игроки одновременно выбирают одну из камень, ножницы, бумага с помощью формы руки. Затем выбирается победитель этого раунда: камень побеждает ножницы, бумага побеждает камень, ножницы побеждают бумагу. Если оба игрока выбирают одну и ту же форму, раунд заканчивается ничьей.

Формы и результаты
Есть {{rules.shapes.length}} формы. Они:

{{#rules.shapes}}
{{name}} (код противника: {{opp_code}}, код игрока: {{player_code}}, побеждает против: {{wins_against}}, очки: {{score}}),
{{/rules.shapes}}
Результаты очков:

- Победа: {{rules.outcomes.win}}
- Поражение: {{rules.outcomes.loss}}
- Рисуем: {{rules.outcomes.draw}}

## Правила
Благодаря вашей помощи вчера, один Эльф дает вам зашифрованную стратегическую документацию (ваш входной пазл), которые они говорят, что обеспечат вашу победу. "Первый столбец - это то, что ваш противник собирается играть:
{{#rules.shapes}}
{{opp_code}} для {{name}},
{{/rules.shapes}} ... а второй столбец - это то, что вы должны играть в ответ:
{{#rules.shapes}}
{{player_code}} для {{name}},
{{/rules.shapes}}
Победа каждый раз была бы подозрительной, поэтому ответы должны были тщательно выбраны.

Победителем турнира является игрок с наивысшим счетом. Ваш общий счет - это сумма ваших счетов за каждый раунд. Счет за один раунд - это счет за форму, которую вы выбрали
({{#rules.shapes}}{{name}} = {{score}},{{/rules.shapes}}) плюс очки за результат раунда (победа = 6, поражение = 0, ничья = 3).

Поскольку вы не можете быть уверены, пытается ли Эльф помочь вам или обмануть вас, вы должны вычислить очки, которые вы получили бы, если бы следовали стратегическому ру

Так как вы не можете быть уверены, пытается ли эльф помочь вам или обмануть вас, вы должны рассчитать балл, который вы получите, если следуете за стратегическим руководством.

Пример игры
Так как вы не можете быть уверены, пытается ли эльф помочь вам или обмануть вас, вы должны рассчитать балл, который вы получите, если следуете за стратегическим руководством.

Например, предположим, вам было дано следующее стратегическое руководство:

{{#rules.games.rounds}}
{{opp_code}} {{player_code}}
{{/rules.games.rounds}}
Это стратегическое руководство предсказывает и рекомендует следующее:

{{#rules.games.rounds}}
Соперник выбрал {{rules.shapes[#../shapes].name}} (код {{opp_code}}), игрок выбрал {{rules.shapes[#../shapes].name}} (код {{player_code}}), раунд был {{result}}, со счетом {{score}} очков выбора: {{choice_score}}, очков исхода: {{outcome_score}}
{{/rules.games.rounds}}
Итоговый счет: {{rules.games.score}}